/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #510f75;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex; /* Utilisation de Flexbox pour aligner les éléments */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

button {
    padding: 10px 20px;
    background-color: #6b119c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b378b3;
}

/* Section principale du dashboard */
main {
    padding: 20px;
}

/* Conteneur des statistiques */
.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

/* Carte de statistiques */
.stat-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.stat-card h3 {
    font-size: 20px;
    color: #171517;
}

.stat-card p {
    font-size: 32px;
    color: black;
    margin-top: 10px;
}

/* Conteneur des graphiques */
.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux graphiques côte à côte */
    grid-gap: 20px; /* Espacement entre les graphiques */
    width: 100%; /* Prendre toute la largeur disponible */
    max-width: 1200px; /* Limiter la largeur pour éviter des graphiques trop larges */
    margin: 0 auto; /* Centrer le conteneur des graphiques */
    padding-top: 20px;
}

/* Taille des graphiques */
canvas {
    width: 100% !important; /* S'assurer que les graphiques prennent toute la largeur disponible */
    height: 250px !important; /* Ajuster la hauteur des graphiques pour une taille appropriée */
}

/* Footer */
footer {
    background-color:#510f75;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
    bottom:0;
    width: 100%;
    position: relative;
    
}

/* Média queries pour les petites résolutions */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column; /* Placer les cartes de statistiques les unes au-dessus des autres sur petits écrans */
    }

    .charts-container {
        grid-template-columns: 1fr; /* Afficher les graphiques en colonne sur petits écrans */
    }

    canvas {
        height: 200px !important; /* Ajuster la hauteur des graphiques sur petits écrans */
    }
}
